eai/src/main/resources/wsdl/SI_Training_AS_IB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_Training_AS_IB" targetNamespace="http://lhm.de/pi/evasys/afs"
                  xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:p1="http://lhm.de/pi/evasys/afs"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
        <ifw:category>ifmmessif</ifw:category>
        <ifw:VersionID>9755f5ddee8611e9928c000007abeab2</ifw:VersionID>
        <ifw:lifeCycleInfo>
            <objectState/>
            <objectstatus value="A"/>
            <personresponsible value="z074145"/>
            <changed on="1571059750297" by="afdweb"/>
        </ifw:lifeCycleInfo>
        <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:server:710"/>
        <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
        <ifw:securityProfile uri="prf_dt_if_sec_low"/>
        <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
        <ifw:isSensitiveData>false</ifw:isSensitiveData>
        <ifw:classifications>
            <ifw:classification uddikey="uddi:uddi.sap.com:categorization:object-type" name="ObjectType"
                                namespace="http://uddi.sap.com/classification" valueCode="ifmmessif"/>
            <ifw:classification uddikey="uddi:uddi.sap.com:categorization:object-id" name="ObjectID"
                                namespace="http://uddi.sap.com/classification"
                                valueCode="fc04b16682bf350a82b4187a1495d8e0"/>
        </ifw:classifications>
        <ifw:additionalAttributes/>
        <ifw:methods>
            <ifw:method name="SI_Training_AS_IB">
                <ifw:isSynchron>false</ifw:isSynchron>
                <ifw:isIdempotent>false</ifw:isIdempotent>
                <ifw:isInbound>true</ifw:isInbound>
                <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
                <ifw:communicationProfile uri="prf_dt_op_com_async"/>
                <ifw:lifeCycleInfo>
                    <objectState/>
                </ifw:lifeCycleInfo>
                <ifw:contextobjects/>
            </ifw:method>
        </ifw:methods>
        <ifw:messages>
            <ifw:message name="rfc.Z_LSO_EVASYS_RFC.Input">
                <ifw:messType>rfcmsg</ifw:messType>
                <ifw:keyElements>
                    <ifw:elem id="NAME">Z_LSO_EVASYS_RFC</ifw:elem>
                    <ifw:elem id="NAMESPACE">urn:sap-com:document:sap:rfc:functions</ifw:elem>
                    <ifw:elem id="SUBNAME">Z_LSO_EVASYS_RFC</ifw:elem>
                </ifw:keyElements>
                <ifw:technicalNamespace>urn:sap-com:document:sap:rfc:functions</ifw:technicalNamespace>
                <ifw:VersionID>6248dcc0fb1811e98d95000007abeab2</ifw:VersionID>
            </ifw:message>
        </ifw:messages>
        <ifw:matchingInterfaces/>
        <ifw:genericProperties>
            <ifw:swcvinfo>
                <ifw:guid>46fbf431cfdd11e9b07cd7700aa5141e</ifw:guid>
                <ifw:name>EVASYS 1.0 of lhm</ifw:name>
            </ifw:swcvinfo>
            <ifw:languages>
                <ifw:language internalCode="DE" original="true"/>
                <ifw:language internalCode="EN"/>
            </ifw:languages>
            <ifw:documentation type="I">
                <name>_ID_fc04b16682bf350a82b4187a1495d8e0_ifmmessif</name>
                <namespace>http://lhm.de/pi/evasys/afs</namespace>
            </ifw:documentation>
        </ifw:genericProperties>
    </ifw:properties>
    <wsp:Policy wsu:Id="OP_SI_Training_AS_IB"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
            <xsd:element name="Z_LSO_EVASYS_RFC">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="IT_EVASYS_RFC">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZLSO_ST_EVASYS_RFC" minOccurs="0"
                                                 maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="I_ZIELSYSTEM" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ZLSO_ST_EVASYS_RFC">
                <xsd:sequence>
                    <xsd:element name="TRAINING_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_TITEL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAININGSTYP_KUERZEL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_ART" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_BEGINN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_ENDE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_DAUER_TAGE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_DAUER_STD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_RAUM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_TN_ANZAHL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINING_TEILBEREICH" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TEILBEREICH_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VA_VNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VA_NNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SB_VNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SB_NNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_GESCHL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_OBJTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_1_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_1_ANREDE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_1_TITEL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_1_VNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_1_NNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TRAINER_1_MAIL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SEK_TRAINER_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SEK_TRAINER_ANREDE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SEK_TRAINER_TITEL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SEK_TRAINER_VNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SEK_TRAINER_NNAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SEK_TRAINER_MAIL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FIRMA" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="rfc.Z_LSO_EVASYS_RFC.Input">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="rfc:Z_LSO_EVASYS_RFC"/>
    </wsdl:message>
    <wsdl:portType name="SI_Training_AS_IB">
        <wsdl:documentation/>
        <wsdl:operation name="SI_Training_AS_IB">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_Training_AS_IB"/>
            </wsp:Policy>
            <wsdl:input message="p1:rfc.Z_LSO_EVASYS_RFC.Input"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_Training_AS_IBBinding" type="p1:SI_Training_AS_IB">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SI_Training_AS_IB">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>